@import "pure";
@import "solarized";
@import "typography";
/* @import "syntax_highlighting"; */

$base-font-size: 18px;
$max-width: 980px;
$body-padding: 40px;
$navigation-padding: 20px;
$separator-thickness: 4px;

%default-links {
  a:link {color: $blue;}
  a:visited {color: $violet}
  a:hover {color: $red}
}

%invisible-links {
  a:link {color: inherit;}
  a:visited {color: inherit;}
  a:hover {color: red;}
  a {text-decoration: none;}
} 

body {
  @extend %default-links;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: $base-font-size;
  font-family: $sans;
  background-color: $base3;
  color: $base01;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $body-padding;
  padding-right: $body-padding;
}

nav#page_navigation {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 1.5em;
  background-color: $base3;

  ul {
    margin-top: 0.1em;
    margin-bottom: 0.4em;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
  }

  li {
    @extend %invisible-links;
    display: inline;
    padding-right: $navigation-padding;
  }
}

#page_header {
  border-bottom: $separator-thickness solid $base01;
}

#page_header h1{
  @extend %invisible-links;
  text-align: center;
  font-size: 3em;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
}

pre,
code,
pre > code {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 90%;
  font-family: $mono;
}
