@import "pure";
@import "solarized";
@import "typography";
@import "syntax_highlighting";

$base-font-size: 18px;
$max-width: 980px;
$navigation-padding: 20px;
$separator-thickness: 2px;

$body-padding-wide: 40px;
$body-padding-medium: 20px;
$body-padding-narrow: 8px;

@media only screen and (min-width: 320px) {
  body {
    padding-left: $body-padding-narrow;
    padding-right: $body-padding-narrow;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding-left: $body-padding-medium;
    padding-right: $body-padding-medium;
  }
}

@media only screen and (min-width: 980px) {
  body {
    padding-left: $body-padding-wide;
    padding-right: $body-padding-wide;
  }
}


%default-links {
  a:link {color: $blue;}
  a:visited {color: $violet}
  a:hover {color: $red}
}

%invisible-links {
  a:link {color: inherit;}
  a:visited {color: inherit;}
  a:hover {color: red;}
  a {text-decoration: none;}
}

.italic-serif {
  font-family: $serif;
  font-style: italic;
}

body {
  @extend %default-links;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: $base-font-size;
  font-family: $sans;
  background-color: $base3;
  color: $base01;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

nav#page_navigation {
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  font-size: 1.5em;
  background-color: $base3;

  ul {
    margin-top: 0.1em;
    margin-bottom: 0.3em;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
    border-top: $separator-thickness solid $base01;
    border-bottom: $separator-thickness solid $base01;
  }

  li {
    @extend %invisible-links;
    display: inline;
    padding-right: $navigation-padding;
  }
}

#page_header h1{
  @extend %invisible-links;
  text-align: center;
  font-size: 3em;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
}

section footer {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 0;
}

#page_footer {
  text-align: center;
  border-top: $separator-thickness solid $base01;
  padding: 1em 0;
}

article {
  header {
    h1 {
      margin-bottom: 0.25em;
    }
  }
}

.post-date {
  @extend .italic-serif;
}



pre,
code,
pre > code {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 90%;
  font-family: $mono;
}

.caption {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#content {
  margin-top: 0.5em;
  margin-bottom: 2em;
}
