@import "solarized";

pre,
code {
  background-color: $base2;
}

%no_layout  {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: none;
}

table.sourceCode  {
  @extend %no_layout;
  width: 100%;
  background-color: $base2;
}

tr.sourceCode {
  @extend %no_layout;
}

td.lineNumbers {
  @extend %no_layout;
  text-align: right;
  padding-right: 4px;
  padding-left: 4px;
}

td.sourceCode {
  @extend %no_layout;
  padding-left: 5px;
}

pre.sourceCode {
  line-height: 1.2em;
  padding: 0.8em;
  .kw { 
    // KeyWordTok
    color: $blue; 
  }
  // DataTypeTok
  .dt { 
    color: $blue;
  }
  .dv, 
  .bn, 
  .fl { 
    // DecValTok (decimal value), BaseNTok, FloatTok
    color: $magenta; 
  }
  // CharTok
  .ch { 
    color: $red; 
  }
  .st {
    // StringTok
    color: $cyan; 
  }
  .co {
    // CommentTok
    color: $base0; 
  }
  .ot { 
    // OtherTok
    color: $yellow; 
  }
  .al { 
    // AlertTok
    color: $orange;
    font-weight: bold;
  }
  .fu { 
    // FunctionTok
    color: $blue; 
  }
  .re {
    // RegionMarkerTok
  }
  .er { 
    // ErrorTok
    color: $red; font-weight: bold; 
  }
}
