@import "solarized";

%no_layout  {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: none;
}

table.sourceCode  {
  @extend %no_layout;
  width: 100%;
  background-color: inherit;
}

tr.sourceCode {
  @extend %no_layout;
}

td.lineNumbers {
  @extend %no_layout;
  text-align: right;
  padding-right: 4px;
  padding-left: 4px;
}

td.sourceCode {
  @extend %no_layout;
  padding-left: 5px;
}

pre.sourceCode {
  font-size: 0.8em;
  line-height: 1.5em;
  border: 1px solid $yellow;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  padding: 0.4em;
  .kw { 
    // KeyWordTok
    color: $blue; 
  }
  // DataTypeTok
  .dt { 
    color: $blue;
  }
  .dv, 
  .bn, 
  .fl { 
    // DecValTok (decimal value), BaseNTok, FloatTok
    color: $magenta; 
  }
  // CharTok
  .ch { 
    color: $red; 
  }
  .st {
    // StringTok
    color: $cyan; 
  }
  .co {
    // CommentTok
    color: $base0; 
  }
  .ot { 
    // OtherTok
    color: $yellow; 
  }
  .al { 
    // AlertTok
    color: $orange;
    font-weight: bold;
  }
  .fu { 
    // FunctionTok
    color: $blue; 
  }
  .re {
    // RegionMarkerTok
  }
  .er { 
    // ErrorTok
    color: $red; font-weight: bold; 
  }
}

p code,
li code {
  font-size: 0.8em;
  line-height: 1.5em;
  border: 1px solid $yellow;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  padding: 0 0.3em;
  margin: -1px 0;
}

