@import url(http://fonts.googleapis.com/css?family=Inconsolata);

$sans: "Helvetica Neue", Arial, sans-serif !default;
$serif: Georgia, "Times New Roman", Times, serif !default;
$mono: Inconsolata, Menlo, Monaco, monospace !default;
